###1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

answer: values are -87.8, 6, 'hello'
        expressions are *,-,/,+

###2. What is the difference between string and variable?

string are the values which are in the form of characters which need to be mentioned inside the " "(quotation) and this string is a one of the data type
variable are value holding location that is we are assaigning some values to some names those names are called variables, for example x=56, here x is a variable

###Describe three different data types.

three different data types are
integers, example 4,56,78,978,234, etc..
float,  example 3.45, 5.00, 456.789, etc..
string, example 'chandan', 'yashaswini','anand agricultural university', etc..

###What is an expression made up of? What do all expressions do?

expression is a set of values,variables,strings and operators , once if we defined and if called it executes a result
example 5*3+6-4/2 this is a expresion
or may be 
x=5*3+6-4/2
print(x)

In [3]:
x=5*3+6-4/2
x

19.0

In [5]:
x=4
y=5
print(x*y)

20

###This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [7]:
#expression means as i mentioned above 
x=5*3+6-4/2
x

19.0

In [8]:
#statement means as a print statement
y=input("enter ur name")
print("i love you ", y)

enter ur namechandu
i love you  chandu

In [10]:
#or statement may be if else statement for example
x=int(input('enter the number'))
if x>5:
    print('it is greater')
else:
    print('lesser')

enter the number6
it is greater

###After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [14]:
bacon = 22 
bacon + 1

23

In [16]:
"""if we just run that we get 23
but if we fetch again the bacon it gives its original value"""
bacon

22

if we want to avoid that we need to use further the result means we need to assaign variable for that operation , as i mentioned below

In [19]:
bacon = 22 
x=bacon + 1

In [20]:
x

23

###What should the values of the following two terms be? 'spam' + 'spamspam'
'spam' * 3

In [22]:
'spam' + 'spamspam'

'spamspamspam'

In [23]:
'spam' * 3

'spamspamspam'

In [24]:
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

###Why is eggs a valid variable name while 100 is invalid?

because eggs are written in letters most of the programming language do not take variable name starting with digits and starting wityh special character and all , so that eggs are valid variable name and 100 is invalid variable name

###What three functions can be used to get the integer, floating-point number, or string
version of a value?

functions used are
int()
float()
str()

###Why does this expression cause an error? How can you fix it?
 'I have eaten' + 99 +' burritos.'

because in this expression we are trying to add string to integer , thats not at all posiible so the corrected one is

In [28]:
'I have eaten' + str(99) +' burritos.'

'I have eaten99 burritos.'